In [6]:
import pandas as pd

In [7]:
pd.set_option('display.max_row', 50) #행의 출력을 50개로 제한
pd.set_option('display.max_columns', 10) #열의 출력을 10개로 제한

In [8]:
df = pd.read_csv('./datasets/auto-mpg.csv', header = None)
df.columns = ['mpg', 'cylinder', 'displacement', 'horsepower', 'weight',
      'acceleration', 'model tyer', 'origin', 'name']
df

,mpg,cylinder,displacement,horsepower,weight,acceleration,model tyer,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinder      398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model tyer    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
df.dtypes

mpg             float64
cylinder          int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model tyer        int64
origin            int64
name             object
dtype: object

In [11]:
df.mpg.dtypes #한 컬럼에 대한 데이터타입을 볼수있다.

dtype('float64')

In [12]:
df.describe() #데이터를 기술통계 해줌

,mpg,cylinder,displacement,weight,acceleration,model tyer,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [13]:
print(df.shape)

(398, 9)

In [14]:
df.describe(include = 'all')

,mpg,cylinder,displacement,horsepower,weight,acceleration,model tyer,origin,name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mpg,398.0,23.514573,7.815984,9.0,17.500,23.0,29.000,46.6
cylinder,398.0,5.454774,1.701004,3.0,4.000,4.0,8.000,8.0
displacement,398.0,193.425879,104.269838,68.0,104.250,148.5,262.000,455.0
weight,398.0,2970.424623,846.841774,1613.0,2223.750,2803.5,3608.000,5140.0
acceleration,398.0,15.568090,2.757689,8.0,13.825,15.5,17.175,24.8
model tyer,398.0,76.010050,3.697627,70.0,73.000,76.0,79.000,82.0
origin,398.0,1.572864,0.802055,1.0,1.000,1.0,2.000,3.0

In [16]:
unique_value = df['origin'].value_counts()
print(unique_value)
print(type(unique_value))

1    249
3     79
2     70
Name: origin, dtype: int64
<class 'pandas.core.series.Series'>

In [17]:
unique_value = df['name'].value_counts()
print(unique_value)

ford pinto                    6
ford maverick                 5
amc matador                   5
toyota corolla                5
chevrolet chevette            4
                             ..
maxda rx3                     1
vw rabbit c (diesel)          1
plymouth satellite sebring    1
plymouth grand fury           1
plymouth cricket              1
Name: name, Length: 305, dtype: int64

In [18]:
unique_value = df['cylinder'].value_counts()
print(unique_value)

4    204
8    103
6     84
3      4
5      3
Name: cylinder, dtype: int64

In [19]:
df.mean()

mpg               23.514573
cylinder           5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model tyer        76.010050
origin             1.572864
dtype: float64

In [22]:
df.mpg.mean()

23.514572864321607

In [23]:
df[['mpg', 'weight']].mean()

mpg         23.514573
weight    2970.424623
dtype: float64

In [24]:
df.median() # median() 중위값 출력

mpg               23.0
cylinder           4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model tyer        76.0
origin             1.0
dtype: float64

In [25]:
df.quantile(0.25) # quantile(0.25) 1사분위값

mpg               17.500
cylinder           4.000
displacement     104.250
weight          2223.750
acceleration      13.825
model tyer        73.000
origin             1.000
Name: 0.25, dtype: float64

In [26]:
df.quantile(0.75) # quantile(0.75) 3사분위값

mpg               29.000
cylinder           8.000
displacement     262.000
weight          3608.000
acceleration      17.175
model tyer        79.000
origin             2.000
Name: 0.75, dtype: float64

In [27]:
df.max() #최대값

mpg                         46.6
cylinder                       8
displacement                 455
horsepower                     ?
weight                      5140
acceleration                24.8
model tyer                    82
origin                         3
name            vw rabbit custom
dtype: object

In [28]:
df.min() #최소값

mpg                                   9
cylinder                              3
displacement                         68
horsepower                        100.0
weight                             1613
acceleration                          8
model tyer                           70
origin                                1
name            amc ambassador brougham
dtype: object

In [29]:
df.std() #표준편차

mpg               7.815984
cylinder          1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model tyer        3.697627
origin            0.802055
dtype: float64

In [30]:
df.corr() #상관계수 correlation

,mpg,cylinder,displacement,weight,acceleration,model tyer,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinder,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model tyer,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000